# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# WireGuard private keys
*.key
*.conf
*.dpapi

# Docker
*.log
docker-compose.override.yml

.env
*.db
*.log
.vscode/
.idea/
chroma/
